@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.bg_navbar {
    background: linear-gradient(to right top, #0ca59d, #28aca4, #39b2ab, #47b9b3, #54c0ba) !important;
}

.navbar .navbar-nav {
    font-family: "Dosis", sans-serif;
    margin-left: auto;
}

.navbar .navbar-nav .nav-item a {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 13px;
    margin-right: 13px;
}

.navbar .navbar-nav .nav-item a:hover, .navbar .navbar-nav .nav-item a:focus, .navbar .navbar-nav .nav-item a.active {
    color: #ffac00;
}

.banner img {
    width: 100%;
}

a {
    display: inline-block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    color: #333333;
}
p {
    font-size: 14px;
    color: #57647c;
    margin-bottom: 15px;
    line-height: 1.8;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Dosis", sans-serif;
}

h3 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}
/* Service area */
.services-area {
    padding-top: 30px;
}

.single-services-box {
    margin-bottom: 20px;
    padding: 20px;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 0px 11px -3px rgb(0 0 0 / 20%);
}

.single-services-box:hover {
    -webkit-box-shadow: 2px 1px 25px 5px rgba(166, 166, 166, 0.2);
    box-shadow: 2px 1px 25px 5px rgba(166, 166, 166, 0.2);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.single-services-box h3 {
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 700;
}
.btn {
    border: none;
    line-height: initial;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 10px 32px 12px;
    position: relative;
    z-index: 1;
    opacity: 1 !important;
    font-size: 16px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
}

.btn-light {
    background-color: transparent;
    color: #333333;
    border: 1px solid #d7d7d7;
    padding: 9px 32px 11px;
}

.btn-light:hover, .btn-light:focus {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    background-color: #0ca59d !important;
    color: #ffffff !important;
    border-color: #0ca59d !important;
}

.icon .icon-img {
    width: 80px;
}

.single-services-box:hover img {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes swing {
    15% {
        transform: translateX(10px);
    }
    30% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(6px);
    }
    65% {
        transform: translateX(-6px);
    }
    80% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}
/* End Service Area*/

/* Featured Area*/
.image {
    position: relative;
}

.image img {
    max-width: 100%;
}

.shape1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.shape2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.features-area {
    position: relative;
    background: #F7F9FC;
    padding-top: 30px;
}
/* Partner Area*/
.partner-area {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title h2 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.imgBoxs {
    padding: 4px;
    border: solid 1px #ddd;
    margin: 5px;
}

.imgBoxs img {
    max-width: 100%;
}

.partner-images {
    max-width: 500px;
    margin: 0 auto;
}



.feedback-area {
    background: linear-gradient(to right top, #0ca59d, #28aca4, #39b2ab, #47b9b3, #54c0ba);
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 20px;
    padding-top: 120px;
}

.feedback-area .section-title h2 {
    color: #ffffff;
}

.feedback-area .section-title p {
    color: #ffffff;
}

.section-title p {
    max-width: 520px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.feedback-shape {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.shape-rectangle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}

.footer-area {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    background-color: #182c51;
}

.single-footer-widget .logo p {
    color: #ffffff;
    margin-top: 18px;
    margin-bottom: 0;
}

.single-footer-widget h3 {
    margin-bottom: 23px;
    color: #ffffff;
    position: relative;
    padding-bottom: 6px;
    font-size: 23px;
    font-weight: 700;
}

.single-footer-widget .footer-services-list, .single-footer-widget .quick-links-list, .single-footer-widget .footer-contact-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.single-footer-widget .footer-services-list li, .single-footer-widget .quick-links-list li {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 14px;
}

.single-footer-widget .footer-services-list li a, .single-footer-widget .quick-links-list li a {
    display: inline-block;
    color: #ffffff;
}

.single-footer-widget h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background: #ffac00;
}

.single-footer-widget .footer-contact-list li {
    margin-bottom: 6px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7;
}

.single-footer-widget .footer-contact-list li span {
    font-weight: 700;
}

.single-footer-widget .footer-contact-list li a {
    display: inline-block;
    color: #ffffff;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    z-index: -1;
}

.lines .line:nth-child(1) {
    margin-left: -25%;
}

.lines .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.lines .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.lines .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: run 7s 0s infinite;
    animation: run 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(3) {
    margin-left: 23%;
}

.lines .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.copyright-area {
    background-color: #0d1d3b;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright-area p {
    color: #ffffff;
}

.copyright-area p a {
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
}

@keyframes run {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

.single-footer-widget .footer-services-list li a:hover, .single-footer-widget .quick-links-list li a:hover, .copyright-area p a:hover {
    color: #ffac00;
}

.navbar .navbar-nav .nav-item a i {
    font-size: 10px;
}

.navbar .navbar-nav .nav-item {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    position: absolute;
    border: none;
    top: 80px;
    left: 0;
    width: 250px;
    z-index: 99;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.navbar .navbar-nav .nav-item .dropdown-menu li {
    padding: 0;
}

.navbar .navbar-nav .nav-item .dropdown-menu li a {
    text-transform: initial;
    padding: 8px 15px;
    margin: 0;
    color: #333333;
    font-size: 16px;
}

.navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #ffac00;
}

.evolta-responsive-nav {
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar {
        display: none;
    }

    .evolta-responsive-nav {
        display: block;
    }

    .evolta-responsive-nav .evolta-responsive-menu {
        position: relative;
    }

}

@media only screen and (max-width: 767px) {
    .shape1, .shape2, .feedback-shape, .shape-rectangle {
        display: none;
    }

    .content {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .image {
        order: 2;
    }

    .feedback-area {
        padding-bottom: 50px;
        padding-top: 60px;
    }
}

.navbar-area.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    background: -webkit-gradient(linear, left bottom, right top, from(#0ca59d), color-stop(#28aca4), color-stop(#39b2ab), color-stop(#47b9b3), to(#54c0ba)) !important;
    background: linear-gradient(to right top, #0ca59d, #28aca4, #39b2ab, #47b9b3, #54c0ba) !important;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
/*
 Mean Navmenu
 */
.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: absolute;
    background: transparent;
    padding: 0 0 0;
    z-index: 999;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #ffffff;
    margin-top: 52px;
}

.evolta-responsive-nav .evolta-responsive-menu.mean-container .mean-nav ul {
    font-size: 14px;
}

.evolta-responsive-nav .evolta-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    height: 350px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}

.evolta-responsive-nav .evolta-responsive-menu.mean-container .mean-nav ul li a.active {
    color: #ffac00;
}

.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #677294;
    border-top: 1px solid #DBEEFD;
    text-decoration: none;
}

.navbar-area {
    padding: 15px;
}

.evolta-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #ffffff;
    position: relative;
    top: 8px;
    margin-top: -5px;
}

.mean-container a.meanmenu-reveal span {
    display: block;
    height: 4px;
    border-radius: 3px;
}

.mean-container a.meanmenu-reveal {
    width: 35px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    line-height: 22px;
    display: block;
    font-weight: 700;
    padding-top: 6px;
}

.mean-container .mean-nav ul li a.mean-expand {
    margin-top: 1px;
    width: 100%;
    height: 24px;
    padding: 12px !important;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-weight: 700;
    background: transparent;
    border: none !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: transparent;
}

.evolta-responsive-nav .evolta-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 13.5px;
}

.mean-container .mean-nav ul li li a {
    width: 80%;
    padding: 1em 10%;
    color: #677294;
    border-top: 1px solid #DBEEFD;
    opacity: 1;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;
    text-transform: none;
    font-size: 14px;
}

.mean-container .mean-nav ul li a i {
    display: none;
}